body{
	background-image: url("img/binding_dark.png");
}
footer {
	padding: 5px 9px;
	background-color: #000;
	width: 100%;
	color: #fff;
}

#middle{
	background-color: #fff;
	padding: 15px;
	margin-top:7%;
}

.login{
	color:#000;
	padding-bottom: 5px;
}

#tombol{
	margin-bottom: 1px;
}

.login input {
	width: 100%;
}